@model Train.Web.Models.Map
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <img src="~/Resources/Images/map.jpg" width="600" alt="Australia City Map" />
</div>
<br />
<div class="row">
    <div class="col-md-9">
        <label>From</label>
        &nbsp;
        @Html.DropDownListFor(x => Model.Cities, new SelectList(Model.Cities, "Value", "Text"), htmlAttributes: new { @class = "", id = "from" })
        &nbsp;
        <label>To</label>
        &nbsp;
        @Html.DropDownListFor(x => Model.Cities, new SelectList(Model.Cities, "Value", "Text"), htmlAttributes: new { @class = "", id = "to" })
        &nbsp;
        <input type="button" id="find" value="Find Routes" class="button btn-default btn-primary" />
    </div>
    <div class="col-md-3">
    </div>
</div>
<br />
<div class="row">
    <div id="routes"></div>
</div>

@section scripts {
    <script type="text/javascript">

        function clearRoutes() {
            $("#routes").html("");
        }

        $(function () {

            $("#from").on("change paste keyup", function () {
                clearRoutes();
            });

            $("#to").on("change paste keyup", function () {
                clearRoutes();
            });


            $("#find").click(function () {

                var start = $("#from").val();
                var end = $("#to").val();

                $.ajax({
                    url: "/api/train/" + start + "/trip/" + end,
                    type: "GET",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {


                        if (data == "NO SUCH ROUTE") {
                            $("#routes").html("<div class=\"alert\">" + data + "</div>");
                        }
                        else {
                            var len = data.length;
                            var txt = "<table class=\"table\"><tr><th>Path</th><th>Distance</th><th>No of Stop</th></tr>";
                            if (len > 0) {
                                for (var i = 0; i < len; i++) {
                                    txt += "<tr><td>" + data[i].Path + "</td><td>" + data[i].Distance + "</td><td>" + data[i].Stops + "</td></tr>";
                                }
                                txt += "</table>";

                                $("#routes").html(txt);
                            }
                        }
                    },
                    fail: function (jqXHR, status) {
                        $("#routes").html("Failed: " + status);
                    }
                });
            });
        });

    </script>
}

